.navbar {
    
    height: 5vw;
    
}
.logo{
    height: 3vw;
}

button {
    background-color: inherit;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10%;
    height: min-content;
}

button:hover {
    background-color: #9b9393;
}
